doctype html
html lang="en"
  head
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    /! The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta content="" name="description" /
    meta content="" name="author" /
    title Ficus Team Test
    link href="css/font-awesome.min.css" rel="stylesheet" /
    link href="css/styles.css" rel="stylesheet" /
    link href="css/normalize.css" rel="stylesheet" /
    link href="css/grid.css" rel="stylesheet" /
  body
    header.container-fluid
      .header-in.container
        .row
          .logo.col.col--lg-2.col--md-2.col--xs-2
            .logo--heading
              span.colored-title Milli
              | design
              span.description Разработка лендингов
          nav.menu.col.col--lg-4.col--md-4.col--xs-4.column
            li.menu--item.home
              a href="#"
                i.fa.fa-home
            li.menu--item
              a href="#" О нас
            li.menu--item
              a href="#" Портфолио
            li.menu--item
              a href="#" Цены
            li.menu--item
              a href="#" Контакты
          .contact-phones.col.col--lg-3.col--md-3.col--xs-3.column
            a.contact-phones-item.tel href="#"
              |+7(495) 648-68-01
            a.contact-phones-item.worktime href="#"
              |0:00 -18:00 ПН - ПТ
          .contact-button.col.col--lg-3.col--md-3.col--xs-3.column
            a href="#" Заказать обратный звонок






